// Couleurs principales
$couleur-principale: #0284c7;
$couleur-secondaire: #38bdf8;

$couleur-fond-sombre: #0f172a;
$couleur-fond-clair: #f1f5f9;

$couleur-blanche: #ffffff;
$couleur-texte: #1d293d;
$couleur-texte-secondaire: #45556c;
$couleur-bordure: #e2e8f0;

// Couleurs spécifiques
$couleur-etoile: #ffb900;
$couleur-favori: #ff2056;

// ------------------------------
// Police
// ------------------------------

$police-principale: "Inter", sans-serif;
